* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    overflow: hidden;

}

header {

    position: fixed;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 20px;
    z-index: 2;

    & img {
        width: 300px;
    }

    & nav {
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 200px);
        }
    }
}

section {

    background-image: radial-gradient(#c0d562, #092f3b);
    height: 100vh;
    position: relative;

    & .list {

        width: 80vw;
        height: 100%;
        margin: auto;
        position: relative;

        & .item {
            position: absolute;
            inset: 0;

            & .car-img {
                position: absolute;
                right: 44%;
                top: 56%;
                transform: translateY(-50%);
                width: 55%;

                & img {
                    width: 100%;
                    transform: rotate(-30deg);

                }

                  &::before {
                    content: '';
                    position: absolute;
                    background-color: #201f1e;
                    width: 90%;
                    height: 100px;
                    bottom: -10%;
                    left: 50px;
                    border: 50%;
                    filter: blur(50px);
                }

            }

            & .content {
                position: absolute;
                right: 100px;
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px;

                & .car-info {

                    transform: translateY(30px);
                    font-weight: bold;
                }

                & h2 {

                    font-size: 3em;
                    line-height: 4em;
                    text-align: right;
                    font-family: "League Ghotic", sans-serif;

                }

                & .description {

                    color: #b6b2b2;
                    font-size: 16px;
                    text-align: right;
                    max-width: 400px;
                }

                & .information {

                    border-radius: 30px;
                    height: 35px;
                    width: 120px;
                    text-transform: uppercase;
                    border: 2px solid #414025;
                    background-color: #b6d73c;
                    color: #000;
                    font-weight: bold;
                    font-family: "Poppins", sans-serif;

                }

            }

        }

        &::before {
            content: '';
            position: absolute;
            height: 200px;
            width: 100%;
            top: 50%;
            border-top: 1px solid #fff;

        }

    }

    .arrows {

        width: 80vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25px);
        display: flex;
        justify-content: space-between;

        & button:nth-child(1) {
            & img {
                transform: scale(-1);
            }
        }


        & button {
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            & img {
                width: 20px;
                margin-top: 4px;
                cursor: pointer;
            }

            &:hover {
                background-color: #7ba112;
            }

        }
    }

    .indicators {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;

        & .number {
            font-size: 4em;
            font-family: "League Ghotic", sans-serif;

        }

        & ul {

            display: flex;
            gap: 10px;

            & li {

                width: 30px;
                height: 3px;
                background-color: #b6d73c;
                border-radius: 5px;
                transition: 0.5s;

            }

            & .active {
                background-color: #938d8d;
            }
        }

    }
}

section {

    & .list {

        --calculation: 1;

        & .item {

            transform: translateX(calc(100vw * var(--calculation)));
            transition: 0.5s;
            opacity: 0;

            & .car-img {
                & img {
                    rotate: 0;
                    transition: 0.5s;
                    transition-delay: 0.3s;
                }
            }

            & .content {

                & .car-info,
                & h2,
                & .description,
                & .information {
                    transform: translateX(calc(200px * var(--calculation)));
                    transition: 0.7s;
                    transition-delay: 0.3s;
                    opacity: 0;
                }

                & h2 {
                    transition-delay: 0.5s;
                }

                & .description {
                    transition-delay: 0.7s;
                }

                & .information {
                    transition-delay: 0.9s;
                }
            }

            &.active {

                transform: translateX(0);
                opacity: 1;

                & .car-img {
                    & img {
                        transform: rotate(-20deg);
                    }
                }

                & .content {

                    & .car-info,
                    & h2,
                    & .description,
                    & .information {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }

        }
    }
}